<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <div class="weather"><span class="weather-text">Weather info</span></div>
            <div class="hello-user">Hello, Arnat</div>
            <div class="logout">
                <form action="/logout" method="post">
                    <input class="logout-button" type="submit" name="logout" value="logout">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="todo"><span class="todo-text">To-do List</span></div>
        </div>
        <div class="container">
            <div class="todo-enter">
                <form action="/addtask" method="post" class="my-form">
                    <input type="text" name="task" placeholder="Enter your task" required>
                    <input class="add-task" type="submit" name="addtask" value="Add Task">
                </form>
            </div>
        </div>
    </div>
</body>
</html>